// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import 'active_admin/mixins';
@import 'active_admin/base';

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

body.active_admin {
  form {
    input[type='text'][size],
    input[type='number'][size] {
      width: auto;
    }
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='number'],
  input[type='url'],
  input[type='tel'],
  label,
  select,
  th,
  td,
  legend,
  textarea {
    font-size: 1.1em; /* Adjust font size as needed */
  }
  table {
    border-collapse: collapse;
    width: auto;
    table-layout: auto;
    // border: 1px solid #ccc;
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
  }
}

.header-item {
  font-size: 1.2em;
}
#page_title {
  font-size: 2em !important;
}

.btt {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  padding: 5px;
  text-decoration: none;
}

.btt-edit,
btn-cancel {
  color: #ffffff;
  background: darkgreen;
}
.btt-cancel {
  color: #ffffff;
  background: darkred;
}

.panel h3 {
  font-size: 1.5em; /* Adjust font size as needed */
}
.panel-table-subtitre {
  font-size: 1.2em; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 5px;
  background-color: rgb(245, 245, 166);
  padding: 3px;
}

.hide {
  display: none !important;
}

.table-card {
  padding: 10px;
  background-color: white;
}

// td, th {
//     color: green;
//     font-size: 1.5em;
// }

.is_red {
  color: red;
  font-weight: bold;
}

.is_bold {
  font-weight: bold;
}

.bloc-teebox {
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 10px;
}

.bloc-agecat {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.scorecard-title {
  font-weight: bold;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.scorecard-label {
  font-weight: bold;
}
.scorecard-zone {
  text-align: center;
}

.black {
  background-color: black;
  color: white;
}
.white {
  background-color: white;
  color: black;
}
.yellow {
  background-color: yellow;
  color: black;
}
.blue {
  background-color: blue;
  color: white;
}
.red {
  background-color: red;
  color: white;
}

.score-input {
  text-align: center;
  width: 100%;
}
