// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


td, th {
    color: green;
    font-size: 1.5em;
}

.is_red {
    color: red;
    font-weight: bold;
}

.is_bold {
    font-weight: bold;
}

.bloc-teebox {
    border: 1px solid black;
    padding: 5px 10px 5px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 10px;

}
.black {
    background-color: black;
}
.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
